@import "layouts/application";

.order-row {
  width: 100%;
  margin: 0 0 10px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.order-item-name {
  float: left;
  width: 24%;
  /*text-decoration: underline;*/
}

.order-item-content {
  float: right;
  width: 74%;
  line-height: 1.6;
}

.submit-row a.prev-link {
  float: left;
}

.row-holder {
  margin: 0 0 25px;
}

.print-screen {
  display: none;
  float: left;
}

.special-req-block {
  margin-left: 30px;
}
